/* action Menu Styling! */
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: linear-gradient(to right, rgb(27, 128, 223), #feb47b);
  background-size: cover;
  background-position: center;
}

#action-menu {
  left: 0;
  list-style: none;
  width: 300px;
  border: 1px #fff solid;
  border-radius: 10px;
  padding: 20px;
  background: darkblue;
}

#action-menu li {
  text-align: center;
  font-size: 18px;
  /* Spread them apart */
  line-height: 2.4em;
  /* Gives each a bottom border as a seperator */
  border-bottom: hidden dotted 1px #ddd;
}

#action-menu p {
  font-size: 20px;
  color: white;
}

.btn {
  font-size: 20px;
  background: darkblue;
  color: white;
}

/* Pseudo selector to target last link; refer to last module  */
#action-menu li:last-child {
  border: none;
}

.btn:hover {
  color: coral;
  cursor: pointer;
}

#player {
  height: 400px;
  width: 450px;
}

#enemy {
  height: 400px;
  width: 450px;
}

.flex {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.flex #player,
#enemy {
  margin-top: 50px;
}

#enemy-speech {
  color: white;
  font-size: 20px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  background: darkblue;
  border: 1px #fff solid;
}

#player-health {
  font-size: 25px;
  background: green;
  height: 30px;
  width: 300px;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px #fff solid;
}

#enemy-health {
  /* Ensures health bar stays  */
  position: absolute;
  right: 0;
  /* right justified upon player death  */
  font-size: 25px;
  background: green;
  height: 30px;
  width: 300px;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px #fff solid;
}

#announcer {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  background: darkblue;
  border: 1px #fff solid;
}

#announcer button {
  margin-top: 10px;
}
