/* action Menu Styling! */

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.material-symbols-outlined {
  font-size: 20px;
  vertical-align: top;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgb(27, 128, 223), #feb47b);
  background-size: cover;
  background-position: center;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: coral;
}
/* Flex box */

.flex {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.flex #player,
#enemy {
  margin-top: 50px;
}

/* Action menu and button styling */

#action-menu {
  list-style: none;
  width: 300px;
  border: 3px lightgrey solid;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(to right, darkblue, rgb(2, 2, 165));
}

#action-menu li {
  text-align: left;
  font-size: 18px;
  line-height: 1.8em;
  border-bottom: hidden 0.5px #ddd;
  width: 100px;
}

#action-menu ul {
  list-style: none;
  padding-left: 0px;
}

.list {
  width: 50%;
}

#action-menu p {
  font-size: 20px;
  color: white;
}

.btn {
  font-size: 20px;
  background: darkblue;
  color: white;
}

.action {
  width: 100px;
}

.btn:hover {
  color: coral;
  cursor: pointer;
}

/* Health bars */

#player-health {
  font-size: 25px;
  background-image: linear-gradient(to right, darkgreen, lightgreen);
  height: 30px;
  width: 300px;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 2px #fff solid;
}

#enemy-health {
  /* Ensures health bar stays  */
  position: absolute;
  right: 0;
  /* right justified upon player death  */
  font-size: 25px;
  background-image: linear-gradient(to left, darkgreen, lightgreen);
  height: 30px;
  width: 300px;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 2px #fff solid;
}

/* Sprites */
#player {
  height: 25rem;
  max-width: 100%;
  max-height: 100%;
}

#enemy {
  height: 25rem;
  max-width: 100%;
  max-height: 100%;
}

/* Speech bubbles */

#enemy-speech {
  color: white;
  font-size: 20px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(to right, darkblue, rgb(2, 2, 165));
  border: 3px lightgrey solid;
}

#announcer {
  text-align: center;
  margin: auto;
  font-size: 20px;
  background-image: linear-gradient(to right, darkblue, rgb(2, 2, 165));
  width: 300px;
  color: white;
  border-radius: 10px;
  padding: 20px;
  border: 3px lightgrey solid;
}

#announcer button {
  margin-top: 10px;
}

/* Music toggle  */

#musicmenu {
  position: absolute;
  bottom: 1%;
}

.pictures {
  height: 40%;
}


.information {
  text-align: center;
  width: 50%;
  font-size: 18px;
  color: white;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(to right, darkblue, rgb(2, 2, 165));
}
